.about {
   background-color: #000;
	color: #fff;
	font-size: calc(0.5rem + 1vw);
   min-height: 100vh;
}
.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
.links {
   padding-top: 20vh;
}
.git {
   width: 50px;
   height: 50px;
}
.li {
   width: 50px;
   height: 50px;
}
/* .intro {
   display: flex;
}
.image-container {
   width: 150px;
   height: 150px;
}
.me {
   width: 150px;
   height: 150px;
   display: block;
} */
p {
   letter-spacing: calc(5px);
	margin-top: calc(20vh);
   font-size: calc(var(--index) * 2);
   text-align: center;
   width: 50vw;
}