@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

.skills {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
}

.skills__header:nth-child(1) {
    padding: 30vh 0 10vh 0;
}

.skills__header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    color: #ddd;
    font-weight: 300;
    text-transform: uppercase;
	line-height: 1;
}

.skills-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 20vw;
    justify-items: center;
    align-items: center;
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.skill {
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skill-name {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: raleway-c;
    color: #ddd;
    text-align: center;
}

.progress {
    background-color: #ddd;
    border-radius: 5px;
    width: 100%;
}

.progress-bar {
    background-color: #4CAF50;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    color: #ddd;
}

@media (max-width: 768px) {
    .skills-section {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5vw;
    }

    .skill-name {
        font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (768 - 300)));
    }
}

@media (max-width: 480px) {
    .skills-section {
        grid-template-columns: 1fr;
    }
}